<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Application Symfony{% endblock %}</title>

    {# Lien vers les fichiers CSS #}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ path('app_register')}}">Inscription</a></li>
                <li><a href="#">Connexion</a></li>
                {% block deconnexion %}{% endblock %}
            </ul>
        </nav>
    </header>

    <main>
        <h1>{% block h1 %}Bienvenue sur mon application Symfony{% endblock %}</h1>
        
            {% block body %}{% endblock %}
        </section>
    </main>

    <footer>
        <p>&copy; {{ "now"|date("Y") }} - Mon Application Symfony. Tous droits réservés.</p>
    </footer>
</body>
</html>
